body{
    font: 100%/125% “Times New Roman”, sans-serif; 
    padding: 0px;
    
	/* background: url(./2123509.png) no-repeat center center fixed;
	background-size: cover; */
  background-color: rgb(199, 247, 241);
  }

#wrapper{
    padding: 0px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0px;
    }
#header {
    background-color: rgb(255, 99, 71);
    border-radius: 8px;
    height: 100px;
    margin-bottom: 0px;
    font-style: bold;
    }
#header p{
  color: darkblue;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
    }

#header a{
    text-decoration: none;
}

#footer {
  clear: both;
  text-align: center;
  margin-top: 529px;
  /* margin-left: 500px; */
  background-color: rgba(9, 223, 112, 0.799);
  /* margin-right: 500px; */
  }
#footer p{
  font-size: 15pt;
  font-style: italic;
  color: blue;
  padding: 3px;
  text-align: center;
  }

#right {
    float: none;
    width: 100%;
    margin-top: 10px;
    }
    /* #right p{
    margin-right: 0px;
    color: rgb(235, 141, 17);
    margin-left: 20px;
    margin-top: 5px;
    } */
    #right img{
    margin: auto;
    display: block;
    }

#right table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
    }
#right table td, #right table th {
    border: 2px solid grey;
    padding: 8px;
    }
#right table tr:nth-child(even){
    background-color: #f2f2f2;
    }
#right table tr:hover {background-color: #ddd;}

#right table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    }
#right table td a{
    text-decoration: none;
    color: blue;
    font-style: italic;
    }

.box {
    float: left;
    width: 140px;
    height: 100px;
    border-radius: 0px;
    background-color: lightblue;
    }
.box img{
    margin-left: 20px;
    z-index: 999;
    cursor: progress;
    }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menu-area a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #29c8cb;
    height: 60px;
    font-family:Poppins;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    /* border-radius: 15px; */
  }
  .menu-area a:hover{
    background: rgb(64, 0, 255);
    color: #fff;
    
  }
  .menu-area ul{
    list-style: none;
    display: flex;
  }
  .menu-area li{
    position: relative;
    width: 100%;
    text-align: center;
  }
  .menu-area li:hover .dropdown-1 > li{
    display: block;
    top: 0;
  }
  .dropdown-1 li{
    display: none;
    position: relative;
  }
  .dropdown-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dropdown-1 li:hover .dropdown-2 li{
    display: block;
  }
  .dropdown-2 li{
    display: none;
  }
  .dropdown-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
  }
  .link-area
  {
    position:fixed;
    bottom:20px;
    left:20px;  
    padding:15px;
    border-radius:40px;
    background:#262626;
  }
  .link-area a
  {
    text-decoration:none;
    color:#fff;
    font-size:25px;
  }