body{
    font: 100%/125% “Times New Roman”, sans-serif; 
    padding: 0px;
    background-color: rgb(199, 247, 241);
  }

#wrapper{
    padding: 0px;
    width: 100%;
    border-radius: 8px;
    }
#header {
    background-color: rgb(255, 99, 71);
    border-radius: 0px;
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
    font-style: bold;
    }
#header p{
  color: darkblue;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
    }

#header a{
    text-decoration: none;
}

 #bar {
        background-color: lightslategrey;
        border-radius: 6px;
 }
 #bar ul{
    margin-right: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
 }
 #bar ul li a{
    text-decoration: none;
    color: aqua;
 }
 #bar li a:hover:not(.active){
    background-color: black;
    color: white;
}
#bar li a.active{
    background-color: blue;
    color: white;
    cursor: auto;
}

.box {
    float: left;
    width: 140px;
    height: 100px;
    border-radius: 0px;
    background-color: lightblue;
    }
.box img{
    margin-left: 20px;
    z-index: 999;
    cursor: pointer;  
   }

   #footer {
    clear: both;
    text-align: center;
    margin-top: 15px;
    /* margin-left: 500px; */
    background-color: rgba(9, 223, 112, 0.799);
    /* margin-right: 500px; */
    }
  #footer p{
    font-size: 15pt;
    font-style: italic;
    color: blue;
    padding: 3px;
    text-align: center;
    }
  
   .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

#ban1 {
    width: 100%;
    align-items: center;
}
#left {
  float: left;
  width: 40%;
  background-color: aqua;
  margin-top: 10px;
  }
#right {
  float: right;
  width: 59.66%;
  background-color: aquamarine;
  margin-top: 10px;
  text-align: center;
  height: 270px;
}
#congviec {
  text-align: center;
  margin-left: 190px;
  margin-bottom: 10px;
  width: 60%;
  
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menu-area a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #29c8cb;
    height: 60px;
    font-family:Poppins;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  
  }
  .menu-area a:hover{
    background: rgb(64, 0, 255);
    color: #fff;
  }
  .menu-area ul{
    list-style: none;
    display: flex;
  }
  .menu-area li{
    position: relative;
    width: 100%;
    text-align: center;
  }
  .menu-area li:hover .dropdown-1 > li{
    display: block;
    top: 0;
  }
  .dropdown-1 li{
    display: none;
    z-index: 1;
    position: relative;
    border-radius: 6px;
  }
  .dropdown-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dropdown-1 li:hover .dropdown-2 li{
    display: block;
   
  
  }
  .dropdown-2 li{
    display: none;
  }
  .dropdown-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
  }
  .link-area
  {
    position:fixed;
    bottom:20px;
    left:20px;  
    padding:15px;
    border-radius:40px;
    background:#262626;
  }
  .link-area a
  {
    text-decoration:none;
    color:#fff;
    font-size:25px;
  }
  #right table {

    width: 600px;
  
    box-shadow: -1px 12px 12px -6px rgba(0, 0, 0, 0.5);
  
  }
  #right table,td,
  #right table th {
  
    padding: 7px;
  
    border: 1px solid lightgray;
  
    border-collapse: collapse;
  
    text-align: center;
  
    cursor: pointer;
  
  }
  #right table td {
  
    font-size: 18px;
  
  }
  #right table th {
  
    background-color: blue;
  
    color: white;
  
  }
  #right table tr:nth-child(odd) {
  
    background-color: lightblue;
  
  }
  #right table tr:nth-child(odd):hover {
  
    background-color: dodgerblue;
  
    color: white;
  
    transform: scale(1.5);
  
    transition: transform 300ms ease-in;
  
  }
  #right table tr:nth-child(even) {
  
    background-color: #ededed;
  
  }
  #right table tr:nth-child(even):hover {
  
    background-color: lightgray;
  
    transform: scale(1.5);
  
    transition: transform 300ms ease-in;
  }
  